configuration {
	font: "{{ font }}";
	modi: "combi";
	combi-modi: "window,drun,run,ssh";
	parse-hosts: true;
	fixed-num-lines: false;
	matching: "fuzzy";

	show-icons:     {{ show_icons | lower }};
	icon-theme:     "{{ icon_theme }}";
	display-combi:  "";
	display-drun:   "";
	display-run:    "";
	display-ssh:    "";
	display-window: "";

	window-thumbnail: true;

	ssh-command: "{terminal} -e {ssh-client} {host} [-p {port}]";

}


@theme "{{ theme }}"

/* vim:ft=css
