#!/usr/bin/env bash

# Desktop names
for MONITOR in $(bspc query -M); do
	bspc monitor ${MONITOR} --reset-desktops \
		1 2 3 4 5 6 7 8 9 0
done

# Config
{% for key, value in config.items() %}
bspc config {{ key }} "{{ value }}"
{% endfor %}

# Rules
{% for rule in rules %}
bspc rule --add {{ rule }}
{% endfor %}
