[colors]
{% for key, value in colors.items() %}
{% if value is iterable and (value is not string and value is not mapping) %}
{% for sub in value %}
{{ key }}-{{ loop.index0 }} = {{ sub }}
{% endfor %}
{% else %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}

[global/wm]
margin-top = {{ margin_top }}
margin-bottom = {{ margin_bottom }}

[bar/defaults]
width = {{ width }}
height = {{ height }}
line-size = {{ line_size }}
module-margin = {{ module_margin }}
tray-padding = {{ tray_padding }}
tray-position = {{ tray_position }}

{% for font in fonts %}
font-{{ loop.index0 }} = {{ font }}
{% endfor %}

background = ${colors.background}
foreground = ${colors.foreground-0}

wm-name = bspwm
wm-restack = bspwm

enable-ipc = true

[bar/ireland-primary]
inherit = bar/defaults
monitor = ${env:MONITOR:DP-0.1}

modules-left = bspwm xwindow
modules-center =
modules-right = mpd filesystem ireland-network tunnel cpu memory temperature date powermenu

[bar/ireland-secondary]
inherit = bar/defaults
monitor = ${env:MONITOR:DP-0.8}

modules-left = bspwm xwindow
modules-center =
modules-right = mpd filesystem ireland-network cpu memory temperature date powermenu

tray-position = none

[bar/wisp]
inherit = bar/defaults

modules-left = bspwm xwindow
modules-center =
modules-right = volume battery filesystem backlight wisp-network tunnel cpu memory temperature date powermenu

[bar/callisto-primary]
inherit = bar/defaults
monitor = ${env:MONITOR:eDP-1}

modules-left = bspwm xwindow
modules-center =
modules-right = volume battery extra-battery filesystem backlight callisto-wlan tunnel cpu memory temperature date powermenu

[bar/callisto-secondary]
inherit = bar/defaults
monitor = ${env:MONITOR:DP-2-1}

modules-left = bspwm xwindow
modules-center =
modules-right = filesystem cpu memory date

tray-position = none

[bar/callisto-tertiary]
inherit = bar/defaults
monitor = ${env:MONITOR:DP-2-2}

modules-left = bspwm xwindow
modules-center =
modules-right = filesystem cpu memory date

tray-position = none

[module/xwindow]
type = internal/xwindow
label = %title:0:60:...%

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /
mount-1 = /home

fixed-values = true

label-mounted =  %mountpoint%: %free% (%percentage_free%%)
format-mounted = <label-mounted>
format-mounted-padding = {{ format_padding }}
format-mounted-prefix-foreground = ${colors.accents-1}
format-mounted-underline = ${colors.accents-1}

label-unmounted = %mountpoint%: NULL
label-unmounted-foreground = ${colors.alert}

[module/bspwm]
type = internal/bspwm
fuzzy-match = true
format = <label-state> <label-mode>
ws-icon-default = ○
ws-icon-0 = 
ws-icon-1 = 
ws-icon-2 = 
ws-icon-3 = 
ws-icon-4 = 
ws-icon-5 = 
ws-icon-6 = 
ws-icon-7 = 
ws-icon-8 = 
ws-icon-9 = 

label-focused = %name%
label-focused-background = ${colors.background}
label-focused-foreground = ${colors.foreground-0}
label-focused-underline = ${colors.active}
label-focused-padding = {{ label_padding }}

label-occupied = %name%
label-occupied-padding = {{ label_padding }}

label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = {{ label_padding }}

label-empty = %name%
label-empty-foreground = ${colors.foreground-1}
label-empty-padding = {{ label_padding }}

[module/mpd]
type = internal/mpd

format-online = <label-song>  <icon-prev> <icon-seekb> <icon-stop> <toggle> <icon-seekf> <icon-next>  <icon-repeat> <icon-random>
format-online-padding = {{ format_padding }}
format-online-underline = ${colors.accents-0}

label-song = %artist% - %title% (%album%)
label-song-maxlen = 75
label-song-ellipsis = true

icon-prev = 玲
icon-seekb = 丹
icon-stop = 栗
icon-play = 契
icon-pause = 
icon-next = 怜
icon-seekf = 
icon-random = 列
icon-repeat = 凌

toggle-on-foreground = ${colors.active}
toggle-off-foreground = ${colors.foreground-1}

[module/backlight]
type = internal/xbacklight

format = <ramp> <label>
format-underline = ${colors.highlight}
ramp-foreground = ${colors.highlight}
ramp-0 = 🌕
ramp-1 = 🌔
ramp-2 = 🌓
ramp-3 = 🌒
ramp-4 = 🌑

bar-width = 10
bar-indicator = ━
bar-indicator-foreground = ${colors.highlight}
bar-indicator-font = 1
bar-fill = ━
bar-fill-font = 1
bar-fill-foreground = ${colors.highlight}
bar-empty = ─
bar-empty-font = 1
bar-empty-foreground = ${colors.foreground-1}

[module/cpu]
type = internal/cpu
interval = 2
format-padding = {{ format_padding }}
format-prefix = " "
format-prefix-foreground = ${colors.accents-4}
format-underline = ${colors.accents-4}

[module/memory]
type = internal/memory
interval = 2
format-padding = {{ format_padding }}
format-prefix = " "
format-prefix-foreground = ${colors.accents-5}
format-underline = ${colors.accents-5}

[network/defaults]
type = internal/network
interface = wlan0
interval = 3.0

ramp-signal-0 = 😱
ramp-signal-1 = 😠
ramp-signal-2 = 😒
ramp-signal-3 = 😊
ramp-signal-4 = 😃
ramp-signal-5 = 😈

ramp-signal-foreground = ${colors.foreground-0}

format-connected-padding = {{ format_padding }}
format-connected-prefix = "直 "
format-connected-underline = ${colors.accents-3}
format-connected-prefix-foreground = ${colors.accents-3}

label-connected = %essid% %local_ip% Up: %upspeed% Down: %downspeed%

format-disconnected-padding = {{ format_padding }}
format-disconnected-prefix = "睊 "
format-disconnected-prefix-foreground = ${colors.alert}

label-disconnected = %ifname% disconnected
label-disconnected-foreground = ${colors.alert}

[module/ireland-network]
inherit = network/defaults
interface = enp4s0
format-connected-prefix = " "
label-connected = %local_ip% ﯴ %upspeed% ﯲ %downspeed%

[module/wisp-network]
inherit = network/defaults

[module/callisto-eth]
inherit = network/defaults
interface = enp0s31f6
format-connected-prefix = " "
label-connected = %local_ip% Up: %upspeed% Down: %downspeed%

[module/callisto-wlan]
inherit = network/defaults

[module/tunnel]
inherit = network/defaults
interface = tun0
format-connected-prefix = "旅 "
label-connected = %local_ip% ﯴ %upspeed% ﯲ %downspeed%
label-disconnected =

[module/date]
type = internal/date

date =
date-alt = " %a %F"

time = %R
time-alt = %X

format-padding = {{ format_padding }}
format-prefix = 
format-prefix-foreground = ${colors.accents-7}
format-underline = ${colors.accents-7}

label = %date% %time%

[module/volume]
type = internal/alsa
mapped = true

format-volume = <ramp-volume> <label-volume>
format-volume-underline = ${colors.accents-0}
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-0-foreground = ${colors.ramp-0}
ramp-volume-1-foreground = ${colors.ramp-1}
ramp-volume-2-foreground = ${colors.ramp-2}
label-volume-foreground = ${colors.foreground-0}

label-muted = 
format-muted-foreground = ${colors.alert}

bar-volume-width = 10
bar-volume-foreground-0 = ${colors.ramp-0}
bar-volume-foreground-1 = ${colors.ramp-1}
bar-volume-foreground-2 = ${colors.ramp-2}
bar-volume-gradient = true
bar-volume-indicator = ━
bar-volume-indicator-font = 1
bar-volume-indicator-foreground = ${colors.foreground-0}
bar-volume-fill = ━
bar-volume-fill-font = 1
bar-volume-empty = ─
bar-volume-empty-font = 1
bar-volume-empty-foreground = ${colors.foreground-1}

[battery/defaults]
type = internal/battery
battery = BAT0
adapter = ADP0
full-at = 98

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 

format-discharging = <animation-discharging> <label-discharging>
format-discharging-underline = ${colors.ramp-2}

animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-foreground = ${colors.ramp-2}
animation-discharging-framerate = 1000

format-charging = <animation-charging> <label-charging>
format-charging-underline = ${colors.ramp-0}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-foreground = ${colors.ramp-0}
animation-charging-framerate = 500

format-full-prefix = " "
format-full-prefix-foreground = ${colors.ramp-0}
format-full-underline = ${colors.ramp-0}

[module/battery]
inherit = battery/defaults

[module/extra-battery]
inherit = battery/defaults
battery = BAT1

[module/temperature]
type = internal/temperature
thermal-zone = 0
base-temperature = 20

format = <ramp> <label>
format-padding = {{ format_padding }}
format-underline = ${colors.accents-6}
format-warn = <ramp> <label-warn>
format-warn-padding = {{ format_padding }}
format-warn-underline = ${self.format-underline}

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.alert}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-foreground = ${colors.accents-6}

[module/powermenu]
type = custom/menu
format-underline = ${colors.alert}

label-open = 
label-open-foreground = ${colors.alert}
label-open-padding = {{ label_padding }}

label-close = 
label-close-foreground = ${colors.alert}
label-close-padding = {{ label_padding }}
label-separator = ┃
label-separator-foreground = ${colors.foreground-1}

menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-0-padding = {{ menu_padding }}

menu-0-1 = power off
menu-0-1-exec = menu-open-2
menu-0-1-padding = {{ menu_padding }}

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-0-padding = {{ menu_padding }}

menu-1-1 = reboot
menu-1-1-exec = systemctl reboot
menu-1-1-padding = {{ menu_padding }}

menu-2-0 = power off
menu-2-0-exec = systemctl poweroff
menu-2-0-padding = {{ menu_padding }}

menu-2-1 = cancel
menu-2-1-exec = menu-open-0
menu-2-1-padding = {{ menu_padding }}

# vim:ft=dosini.jinja2
