[options]
{% for key, value in options.items() %}
{{ key }} = {{ value }}
{% endfor %}

[colors]
cursor = {{ colors.cursor }}
cursor_foreground = {{ colors.cursor_foreground }}
background = {{ colors.background }}
foreground = {{ colors.foreground }}
foreground_bold = {{ colors.foreground_bold }}
highlight = #4c566a

# black
color0  = {{ colors.normal.black }}
color8  = {{ colors.bold.black }}

# red
color1  = {{ colors.normal.red }}
color9  = {{ colors.bold.red }}

# green
color2  = {{ colors.normal.green }}
color10 = {{ colors.bold.green }}

# yellow
color3  = {{ colors.normal.yellow }}
color11 = {{ colors.bold.yellow }}

# blue
color4  = {{ colors.normal.blue }}
color12 = {{ colors.bold.blue }}

# magenta
color5  = {{ colors.normal.magenta }}
color13 = {{ colors.bold.magenta }}

# cyan
color6  = {{ colors.normal.cyan }}
color14 = {{ colors.bold.cyan }}

# white
color7  = {{ colors.normal.white }}
color15 = {{ colors.bold.white }}

# vim: ft=dosini.jinja2 cms=#%s
